.dashboard3 {
    min-height: 230px;
}

.filter31 {
    position: absolute;
    left: 10px;
    top: 5px;
    z-index: 1;
}

.filter32 {
    border: none; 
    padding-left: 40px;
}

.filter33 {
    border: none; 
}

.filter34 {
    height: 50px;
}

.filter36 {
    height: 38px;
}

.filter37 {
    color: #FF5C5D;
    border-color: #FF5C5D;
    background-color: white;
}

.add31 {
    color: white;
    background: linear-gradient(270deg, #FF5C5D 0%, #FF6A92 100%);
    float: right;
}

.info31 {
    border-radius: 16px;
    min-height: 200px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.info32 {
    color: #788B9A;
}

.totalloan31 {
    position: relative;
    border-radius: 16px;
    padding-bottom: 250px;
    height: 450px;
}

.totalloan32 {
    color: #182D64; margin-left: 10px;
}

.totalloan33 {
    position: absolute;
    left: 20px;
    right: 40px;
    bottom: 0px;
    top: 80px;
}

.totalloan34 {
    background: #E9ECF58C;
    border-radius: 8px;
    bottom: 8px;
    left: 10%;
    right: 10%;
    height: 30px;
}

.totalloan35 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    margin-top: 5px;
    margin-right: 10px;
}

.totalloan36 {
    width: 150px;
}

.totalloan37 {
    font-size: 11px;
}

.totalloan38 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #00C287;
    margin-top: 5px;
    margin-right: 10px;
}

.totalloan39 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FF5C5D;
    margin-top: 5px;
    margin-right: 10px;
}

.hr1 {
    margin:0px;
}

.product31 {
    padding-bottom: 250px;
    border-radius: 16px;
    height: 450px;
}

.product32 {
    height: 60px;
}

.product33 {
    font-size: 14px;
    font-weight: 400;
    color: #9291A5;
    margin: 0px;
}

.product34 {
    font-size: 24px; font-weight: 700;
}

.product35 {
    height: 300px;
}

.product36 {
    position: relative;
}

.product37 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.product38 {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #4A3AFF;
    margin-top: 6px;
}

.product39 {
    color: #182D64;
    font-size: 14px;
    font-weight: 400;
}

.product40 {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #2D5BFF;
    margin-top: 6px;
}

.product41 {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #93AAFD;
    margin-top: 6px;
}

.product42 {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #C6D2FD;
    margin-top: 6px;
}

.product43 {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #E5EAFC;
    margin-top: 6px;
}

.manager30 {
    background-color: #D3D9E94D; border-radius: 12px;
}

.manager31 {
    font-size: 25px; font-weight: 700;
}

.manager32 {
    font-size: 14px; font-weight: 400; color: #4E5C7F; 
}

.manager33 {
  position: relative;
  padding-bottom: 250px;
  border-radius: 16px;
  height: 450px;
}

.totallead30 {
    color: #1F2937; margin-left: 10px;
}

.totallead31 {
    border-radius: 5px; height: 23px; 
}

.totallead32 {
    font-size: 10px;
    font-weight: 400;
    border-radius: 5px;
    line-height: 5px;
}

.totallead33 {
    font-size: 10px;
    font-weight: 400;
    line-height: 5px;
}