.dashboard12 {
    min-height: 240px;
}

.dashboard13 {
    width: 100%;
}

.dashboard14 {
    width: 90%;
    margin: auto;
}

.dashboard15 {
    width: fit-content;
}

.apply {
    color: #FF5C5D;
    border-color: #FF5C5D;
    background-color: white;
    width: 135px;
    height: 38px;
}

.add2 {
    color: white;
    background: linear-gradient(270deg, #FF5C5D 0%, #FF6A92 100%);
    float: right;
}

.add3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }

// .totalareacurve1 {
//     border-radius: 10px;
//     height: 160px;
//     width: calc(100% / 1*7);
//   }

.totalamount5 {
    border-radius: 10px;
}

.totalamount6 {
    min-width: 137px;
}

.totalamount {
    color: #4B5563;
    font-size: 14px;
    font-weight: 400;
}

.totalamount1 {
    color: #1F2937;
}

.totalamount2 {
    height: 47px;
}

.totalamount3 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.totalamount4 {
    height: 60%;
}

.review {
    border-radius: 16px;
    min-width: 270px;
    width: 100%;
    min-height: 390px;
    margin: auto;
    position: relative;
}

.review1 {
    position: absolute; top: 25%; left: 42%;
}

.review2 {
    font-size: 20px;
}

.review3 {
    color: #4B5563;
    width: 82px;
    text-align: center;
    font-size: 12px;
}

.review4 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #267DFF;
    margin-top: 10px;
    margin-right: 20px;
}

.review5 {
    color: #4B5563;
}

.review6 {
    margin-top: 5px; margin-right: 20px;
}

.review7 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #70A9FF;
    margin-top: 10px;
    margin-right: 20px;
}

.review8 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #ADCEFF;
    margin-top: 10px;
    margin-right: 20px;
}

.review21 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #DDECFF;
    margin-top: 10px;
    margin-right: 20px;
}

.review9 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #FF6A92;
    margin-top: 10px;
    margin-right: 20px;
}

.review10 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #FFADC3;
    margin-top: 10px;
    margin-right: 20px;
}

.review11 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #FFD6E1;
    margin-top: 10px;
    margin-right: 20px;
}

.review12 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #FFEFF2;
    margin-top: 10px;
    margin-right: 20px;
}

.review13 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #FFB828;
    margin-top: 10px;
    margin-right: 20px;
}

.review14 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #FFCF70;
    margin-top: 10px;
    margin-right: 20px;
}

.review15 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #FFE4AD;
    margin-top: 10px;
    margin-right: 20px;
}

.review16 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #FFF5E1;
    margin-top: 10px;
    margin-right: 20px;
}

.review17 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #54CBA1;
    margin-top: 10px;
    margin-right: 20px;
}

.review18 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #82D9BA;
    margin-top: 10px;
    margin-right: 20px;
}

.review19 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #B1E7D4;
    margin-top: 10px;
    margin-right: 20px;
}

.review20 {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #DBF5EC;
    margin-top: 10px;
    margin-right: 20px;
}

.totalcount {
    position: relative;
    border-radius: 16px;
    height: 450px;
    padding-bottom: 250px;
}

.totalcount1 {
    color: #182D64; margin-left: 10px;
}

.totalcount2 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #267DFF;
}

.totalcount3 {
    color: #959FBA;
    margin-left: 5px;
    font-weight: 700;
}

.totalcount4 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #DDECFF;
}

.totalcount5 {
    position: absolute;
    left: 20px;
    right: 40px;
    bottom: 0px;
    top: 80px;
}

.totalloan22 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #00C287;
}

.totalloan23 {
    color: #4B5563;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}

.totalloan24 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FF5C5D;
}
